.vscode
AP301_TC_UN1_M3_ADCAPS/.DS_Store
AP301_TC_UN1_M3_ADCAPS/img/.DS_Store
AP301_TC_UN1_M3_ADCAPS/arquivos/.DS_Store
AP301_TC_UN1_M3_ADCAPS/arquivos/V.3.1.2.mp4
AP301_TC_UN1_M3_ADCAPS/arquivos/video
AP304_TC_UN4_M3_ADCAPS/arquivos/pdf/tex3-4-1-avaliacao-de-fatores-psicossociais-associados-a-dor-cronica-v7.pdf
AP304_TC_UN4_M3_ADCAPS/arquivos/pdf/tex3-4-2-sugestao-de-educacao-continuada-dicionario-de-avaliacao-psicossocial-da-dor-v4.pdf
AP304_TC_UN4_M3_ADCAPS/.DS_Store
AP304_TC_UN4_M3_ADCAPS/arquivos/.DS_Store
AP305_TC_UN5_M3_ADCAPS/.DS_Store
AP305_TC_UN5_M3_ADCAPS/arquivos/.DS_Store
AP304_TC_UN4_M3_ADCAPS/arquivos/pdf/*.pdf
.DS_Store
