.card-aula {
    width: 70%;
    max-width: 100%;
    background: #ffffff;
    border: 2px solid #0d47ff;
    border-radius: 32px;
    padding: 30px;
    position: relative;
    box-shadow: -8px 8px 12px rgba(0, 0, 0, 0.25);
}

.zoom-btn {
    position: absolute;
    bottom: 14px;
    left: 22px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #1f5cff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .25s ease;
}

.zoom-btn:hover {
    transform: scale(1.08);
}

.zoom-btn svg {
    width: 48px;
    height: 48px;
}

.zoom {
    transition: transform .25s ease;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.08);
}



.barra_esquerda {
    border-left: 40px solid #f39200;
}

.btn-hq {
    background: #0d47ff;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    padding: 8px 30px;
    font-size: 15px;
    /* font-weight: 700; */
    /* letter-spacing: 0.5px; */
    cursor: pointer;
    transition: all 0.3s ease;
    /* box-shadow: -4px 6px 12px rgba(0, 0, 0, 0.2); */
}

.btn-hq:hover {
    background: #0837c9;
    transform: translateY(-2px);
}

.btn-play {
    padding: 0;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.28));
    position: absolute;
    bottom: 14px;
    left: 22px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: #1f5cff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .25s ease;
}

.btn-play svg {
    width: 100%;
    height: 100%;
}

.play-circle,
.play-icon {
    transition: all 0.3s ease;
}

.btn-play:hover .play-circle {
    fill: #ffffff;
    stroke: #0d47ff;
    stroke-width: 3;
}

.btn-play:hover .play-icon {
    fill: #0d47ff;
}